main {
  min-height: 80vh;
}

h1 {
  color: #333;
}

p {
  font-size: 1.2rem;
}

footer {
  width: 100%;
  top: 100vh;
}

.border-top-1 {
  border-top: 1px solid black;
}

.random-joke {
  font-size: 2rem;
}

.opac {
  opacity: 0.5;
}

.xl-font {
  font-size: 2rem;
  color: #333;
}

@media (max-width: 700px) {
  .xl-font {
    font-size: 1rem;
  }
}
